<!-- <div class="snippet-wrapper">
    <div class="best-selling hide">
        <h3>Our Best Sellers</h3>
        <a href="#" style="display: flex; align-items: center; padding: 20px 0; border-top: 1px solid black;">
            <img src="'https://cdn.shopify.com/s/files/1/0325/3174/2765/files/bestseller-button-trans.png?v=1584741923" alt="alt image" height="400" width="400"/>
            <div style="display: flex; justify-content: space-between; align-items: start; width: 100%;">
                <p style="padding: 0 10px;">title here</p>
                <p>price</p>
            </div>
        </a>
    </div>
    
     <button class="bestSellerButton"> Best Selling </button>
    
    </div> -->